<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>sscnServer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>			
			classpath:net/bull/javamelody/monitoring-spring.xml
            /WEB-INF/spring/app-config.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<description>This is the description of sscnServer Servlet</description>
		<display-name>sscnServer</display-name>
		<servlet-name>sscnServer</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>sscnServer</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>org.sscn.servlet.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>org.sscn.servlet.test.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/ReportServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PrintServlet</servlet-name>
		<servlet-class>org.sscn.servlet.PrintServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegistrasiServlet</servlet-name>
		<servlet-class>org.sscn.servlet.RegistrasiServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HasilServlet</servlet-name>
		<servlet-class>org.sscn.servlet.HasilServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmailServlet</servlet-name>
		<servlet-class>org.sscn.servlet.EmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PrintServlet</servlet-name>
		<url-pattern>/PrintServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrasiServlet</servlet-name>
		<url-pattern>/RegistrasiServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HasilServlet</servlet-name>
		<url-pattern>/HasilServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmailServlet</servlet-name>
		<url-pattern>/EmailServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Monitoring</realm-name>
	</login-config>
	<security-role>
		<role-name>monitoring</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Monitoring</web-resource-name>
			<url-pattern>/monitoring</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>monitoring</role-name>
		</auth-constraint>
		<!-- if SSL enabled (SSL and certificate must then be configured in the 
			server) <user-data-constraint> <transport-guarantee>CONFIDENTIAL</transport-guarantee> 
			</user-data-constraint> -->
	</security-constraint>
</web-app>